# AeroSense — Python dependencies
# Firmware (RPi Zero 2W payload)
pyserial>=3.5
pynmea2>=1.19
adafruit-circuitpython-bme680>=3.4
adafruit-circuitpython-ads1x15>=2.3
adafruit-blinka>=8.0
RPi.GPIO>=0.7
spidev>=3.6
msgpack>=1.0
pyyaml>=6.0
aiofiles>=23.0

# Ground station
influxdb-client>=1.36

# Dashboard
dash>=2.14
plotly>=5.18
pandas>=2.0
scipy>=1.11
numpy>=1.24
